* {
    font-family: sans-serif;
    text-align: center;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
    margin: 0px;
}

footer {
    height: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    opacity: 90%;
    overflow: hidden;
}

.wrapper {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 30px;
    margin: 10vh 15vw 15vh;
}

.box {    
    color: white;
    opacity: 1;
    justify-content: space-around;
}

.box-v {
    display: flex;
    flex-direction: column;
}

.box-h {
    display: flex;
    flex-direction: row;
}

.list {
    margin: auto;
}

.icon {
    width: 1.5rem;
}

#about-me {
    margin: auto;
}

#pfp {
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.footer-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
