@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
    font-family: monospace;
    font-size: 15px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;

    background: no-repeat center center fixed;
    background-size: cover;
    margin: 0px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.no-underline {
    text-decoration: none;
}

.icon {
    height: 300px;
}

a {
    color: white;
}

a:hover {
    color: rgb(180, 180, 180);
}

.cursor {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.buttons>a {
    text-decoration: none;
}